{% extends 'repair_service/snippets/base.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}
    <header>
        <h1>Repair Service Center FAQ</h1>
    </header>

    <blockquote>
        <p>Spring has come, flowers bloom,<br>
            Fields turn green, sky is clear.</p>

        <p>Birds are singing, the wind whispers to the branches,<br>
            Nature's time, so beautiful, lies ahead.</p>
    </blockquote>

    <main>
        <p><dfn>FAQ</dfn> - stands for "Frequently Asked Questions."</p>
        <details>
            <summary>What types of devices do you repair?</summary>
            <p>We repair a wide range of devices, including smartphones, laptops, tablets, and more. Feel free to
                contact us with specific inquiries.</p>
        </details>

        <details>
            <summary>How long does a typical repair take?</summary>
            <p>The repair time can vary depending on the type and extent of the damage. We strive to complete most
                repairs within 24-48 hours.</p>
        </details>

        <details>
            <summary>How much will my repair cost?</summary>
            <p>The cost of repair depends on the device and the extent of the damage. We provide free estimates, so
                bring your device in for an assessment.</p>
        </details>

        <details>
            <summary>What payment methods do you accept?</summary>
            <p>We accept cash, credit cards, and mobile payment apps for your convenience.</p>
        </details>

        <details>
            <summary>Do you offer warranties on your repairs?</summary>
            <p>Yes, we provide a limited warranty on our repair services. Please ask for details when you bring in your
                device.</p>
        </details>

        <details>
            <summary>What if I'm not satisfied with the repair?</summary>
            <p>We aim for customer satisfaction. If you encounter any issues after a repair, please contact us, and we
                will address it promptly.</p>
        </details>
    </main>
{% endblock %}