{% extends 'repair_service/snippets/base.html' %}

{% load static %}

{% block title %}Feedback{% endblock %}

{% block content %}
    <h1>Existing feedbacks</h1>
    {% for feedback in feedbacks %}
        <p>Author: {{ feedback.reviewer.username }}</p>
        <p>Used service: {{ feedback.used_service.name }}</p>
        <pre>{{ feedback.text }}</pre>
        <p>{{ feedback.score }}/10⭐</p>
        <p>Date: {{ feedback.created_at }}</p>
    {% endfor %}

    <h1>Send Your Feedback!</h1>
    {% if request.user.is_authenticated %}
        <h2>Just fill few lines</h2>
        <form method="post" action="{% url 'info_service:create_feedback' %}">
            {% csrf_token %}
            <label>
                Used Service:
                <select id="used_service" name="used_service" required>
                    {% for service in available_services %}
                        <option>{{ service.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <br><br>
            <label>
                Feedback Text:
                <textarea id="id_text" name="text" maxlength="256" required></textarea>
            </label>
            <br><br>
            <label>
                Score (0-10):
                <input type="number" id="id_score" name="score" min="0" max="10" required>
            </label>
            <br><br>
            <button type="submit">Submit Feedback</button>
        </form>
    {% else %}
        <p>To be able to leave your review authenticate firstly</p>
    {% endif %}

{% endblock %}
