{% extends 'repair_service/snippets/base.html' %}

{% load static %}

{% block title %}News{% endblock %}

{% block content %}
    <h1>Actual news</h1>
    {% for news in news_list %}
        <article>
            <h2>{{ news.title }}</h2>
            <p>{{ news.created_at }}</p>
            <p>{{ news.short_description }}</p>>
            <a href="/info/news/{{ news.id }}">
                <img src="{{ news.image.url }}" alt="Click to see full news"/>
                <br>
                Read more...
            </a>
        </article>
    {% endfor %}
{% endblock %}
