{% extends 'repair_service/snippets/base.html' %}

{% load static %}

{% block title %}Privacy policy{% endblock %}

{% block content %}
    <header>
        <h1>Privacy Policy</h1>
    </header>
    <main>
        <p>Last Updated:
            <time datetime="2023-09-11T14:30:00Z">11th september 2023, 14:30 UTC</time>
        </p>

        <p>Your privacy is important to us. This Privacy Policy explains how we collect, use, and protect your personal
            information.</p>

        <h2>Information We Collect</h2>

        <p>We collect the following types of information:</p>

        <ul>
            <li><strong>Name and Contact Information:</strong> We may collect your name, email address, phone number,
                and
                address for communication and service purposes.
            </li>
            <li><strong>Device Information:</strong> We may collect information about your device, including your IP
                address, browser, operating system, and version.
            </li>
        </ul>

        <h2>How We Use Information</h2>

        <p>We use the collected information for the following purposes:</p>

        <ul>
            <li>
                <strong>Service Delivery:</strong> We use your data to process repair orders and provide related
                services.
            </li>
            <li><strong>Communication:</strong> We may contact you regarding your orders or inquiries.</li>
            <li><strong>Website Improvement:</strong> We analyze device and website usage data to enhance our website's
                functionality and optimize your experience.
            </li>
        </ul>

        <h2>Data Protection</h2>

        <p>We take security measures to protect your data from unauthorized access, loss, or disclosure. Your data is
            stored
            on secure servers, and access is restricted to authorized personnel.</p>

        <h2>Sharing Information with Third Parties</h2>

        <p>We do not sell, exchange, or share your personal information with third parties unless required for
            fulfilling
            our obligations or by law.</p>

        <h2>Changes to this Privacy Policy</h2>

        <p>We may update this Privacy Policy from time to time. Any changes will be posted on this page, along with the
            "Last Updated" date.</p>

        <h2>Your Rights</h2>

        <p>You have the right to access your personal data and may request corrections, deletions, or restrictions on
            processing. If you have any questions or requests regarding your personal information, please contact us
            using
            the information below.</p>

        <h2>Contact Information</h2>

        <p>If you have any questions or suggestions regarding our Privacy Policy, please contact us at:</p>

        <p>Repair Service<br>
            Gikalo 9<br>
            +375445556677<br>
            rep.service@gmail.com
        </p>
    </main>
{% endblock %}
