{% extends 'repair_service/snippets/base.html' %}

{% load static %}

{% block title %}Vacancies{% endblock %}

{% block content %}
    <h1>Vacancies in Repair Center</h1>
    <ul>
        {% for vacancy in vacancies %}
            <li>
                <h2>{{ vacancy.title }}</h2>
                <span>Description:</span>
                <pre>{{ vacancy.description }}</pre>
                <p>Location: {{ vacancy.location }}</p>
                <p>Posted Date: {{ vacancy.posted_date }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
