{% extends 'repair_service/snippets/base.html' %}

{% load static %}

{% block title %}Our workers{% endblock %}

{% block content %}
    <header>
        <h1>Repair Service Center Workers</h1>
    </header>
    {% for worker in workers %}
        <div itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><strong>{{ worker.name }}</strong></span><br>
            <span itemprop="jobTitle"><b>Job title: </b>{{ worker.job_title }}</span><br>
            <span itemprop="age"><b>Age: </b>{{ worker.age }}</span><br>
            <b>Email: </b><a itemprop="email" href="mailto:{{ worker.email }}">{{ worker.email }}</a><br>
            <b>Phone: </b><a itemprop="telephone" href="tel:{{ worker.phone }}">{{ worker.phone }}</a><br>
            <img itemprop="image" src="{{ worker.image.url }}" alt="{{ worker.name }}"/><br>
        </div>
    {% endfor %}

    <div class="contact-info">
        <h2>Contact Information</h2>
        <p>If you have any questions or need our repair services, feel free to reach out to any of our team members
            listed
            above.</p>
        <p>Address: Gikalo 9, Minsk, Belarus</p>
    </div>
{% endblock %}