.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the alpha value (0.6) to control darkness */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; /* Ensure the content appears above the overlay */
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.content p {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #23527c;
}